{% extends "layout.html" %} {% block content %}
<h3>You are now editing: <strong>{{title}}</strong></h3>
<hr>
<form method="POST" action="/wiki/{{urlTitle}}/edit">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" value="{{title}}"/>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea rows="10" class="form-control" name="content">{{content}}</textarea>
    </div>
    <div class="form-group">
        <label for="tags">Tags (seperated by a space)</label>
        <input name="tags" type="text" class="form-control" value="{{tagsStr}}" />
    </div>
    <button type="submit" class="btn btn-primary">Submit Changes</button>
</form>
{% endblock %}
